*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    /* overflow: hidden; */
}
header{
    top: 0;
    position: sticky;
}
.navbar{
    display: flex;
    /* align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer; */
}
.navlist{
    /* background-color: black; */
    /* background-color:rgb(51, 53, 69); */
    /* color: white; */
    width: 50%;
    display: flex;
    /* align-items: center; */
}
.navbar li{
    list-style: none;
    /* float: left; */
    font-size: 20px;
    padding: 15px 28px;

}
.navbar li :hover{
    color: grey;
}
.navbar li a{
    /* overflow: auto; */
    text-decoration: none;
    color: white;
}
.right{
    /* background-color: blueviolet; */
    width: 50%;
    
    /* display: flex; */
    text-align: right;
    /* align-items: center; */
    margin-top: 11px;
    margin-right: 8px;

}
#search{
    padding: 5px;
    font-size: 15px;
    border: 2px solid grey;
    border-radius: 9px;
    /* margin-top: 10px; */
    
}
.nav{
    /* height: 55px; */
    width: 100%;
    /* background-color:rgb(51, 53, 69); */
    background: linear-gradient(to right,#00093c,#2d0b00);
    display: flex;
}

@media only screen and (max-width:600px){
    .navbar li{
       
        font-size: 15px;
        padding: 15px 20px;
    
    }

    
}